:root{
    --bgColor:#5fd307;
    --duoFont:serif;
    
}
body{
    scroll-behavior: smooth;
    background-color: #5fd307;

}

/* navbar start */

.DuolingoLogo{
    width: 50px;
    margin: 0px 20px;
}
.navbar-brand{
    font-family: serif;
    letter-spacing: 2px;
}
.nav-item a{
    font-family: serif;
    color: white;
    position: relative;
}

.dropdown-menu{
    background-color: #b7f067;
    
}
.navbar{
    background-color: #b3e967;
}




@media screen and (min-width:992px){
    .nav-item a::before{
        content: "";
        position: absolute;
        background-color: white;
        width: 0;
        height: 1px;
        left: 7px;
        bottom: 7px;
    }
    .nav-item a:hover::before{
        width: 80%;
        transition: 0.5s;
    }
}
/* navbar end */

    /* header start */

.headerText1{
    font-family: var(--duoFont);
}
.headPlay{
    transition: 0.5s;
}
.headPlay:hover {
    transform: scale(1.2);
    color: yellow;
}
@media screen and (min-width:992px) {
    header{
        height: 90vh;
    
    }
    
}


     /* header end  */


     /* About start  */
     .aboutText {
        text-align: justify;
    }
    
    @media screen and (min-width:1400px) {
        .aboutImage {
            height: 700px !important
        }
    }
     /* About end */

     /* characters start  */
     @media screen and (min-width:576px){
        .charaImage{
        height: 300px;
        }
     }
     @media screen and (min-width:768px){
        .charaImage{
        height: 400px;
        }
     }
     @media screen and (min-width:992px){
        .charaImage{
        height: 500px;
        }
     }
     @media screen and (min-width:1200px){
        .charaImage{
        height: 600px;
        }
     }
     @media screen and (min-width:1400px){
        .charaImage{
        height: 650px;
        }
     }
     

     /* characters end  */

     /* Gallery start  */
     .mainImage img{
        width: 400px;
        height: 300px;
     }
     .imgArrow {
       position: relative;
       bottom: 180px;
       width:500px ;
     }
     .imgPrev, .imgNext{
        color: yellow;
        transition: 0.4s;

     }
     .imgNext{
        float: right;
     }
     .imgPrev:hover, .imgNext:hover{
        color: aqua;
     }
     .imgPrev:hover{
        transform: translate(-10px);
     }
     .imgNext:hover{
        transform:translate(10px) ;
     }
     .smallImage img{
        display: none;

     }
     @media screen and (min-width:760px){
        .smallImage img{
            display: block;
            height: 80px ;
        }
     }
     @media screen and (min-width:992px){
        .smallImage img{
            display: block;
            height: 90px ;
        }
        .mainImage img{
            width: 600px;
            height: 400px;
         }
         .imgArrow {
            bottom: 220px;
            width:700px ;
          }
     }
     @media screen and (min-width:1200px){
        .smallImage img{
            display: block;
            height: 100px ;
        }
        .mainImage img{
            width: 700px;
            height: 500px;
         }
         .imgArrow {
            bottom: 250px;
            width:800px ;
          }
     }



     /* Gallery end  */

     /* contact start  */
     .contactDiv{
        background-color: #ade460;
        height: 100px;
     }
     .contactIcon {
        color: orange;
    }
     .contactDiv:hover {
        color: rgb(7, 78, 20);
     }


     
     /* contact end */

     /* footer start  */
     .footerImg1 {
        display: none;
    }
    
    .footerImg2 {
        width: 25%;
    }
    
    @media screen and (min-width:992px) {
        .footerImg2 {
            display: none;
        }
    
        .footerImg1 {
            display: inline;
        }
    }
    
    @media screen and (min-width:1200px) {
        .footerImg1 {
            width: 75%;
        }
    }
     /* footer end */
     /* preloader start */
     #preloader {
        position: fixed;
        inset: 0;
        overflow: hidden;
        background: url("./images/loader.png");
        z-index: 9999;
        width: 100%;
        height: 100vh;
        transition: 0.6s;
    }
    /* #bg-video{
        position: absolute;
        top: 50%;
        left: 50%;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        z-index: -1;
        transform: translate(-50%, -50%);
    } */
    
    #preloader::before,
    #preloader::after {
        content: "";
        position: absolute;
        border: 4px solid orange;
        border-radius: 50%;
        animation: animate-preloader 2s cubic-bezier(0, 0.2, 0.8, 1) infinite;
    }
    
    #preloader::after {
        animation-delay: -0.5s;
    }
    
    @keyframes animate-preloader {
        0% {
            width: 10px;
            height: 10px;
            top: calc(50% - 5px);
            left: calc(50% - 5px);
            opacity: 1;
        }
    
        100% {
            width: 100px;
            height: 100px;
            top: calc(50% - 50px);
            left: calc(50% - 50px);
            opacity: 0;
        }
    }
    
    /* Preloader End */
    
    /* ScrollUp Btn Start */
    #myBtn {
        display: none;
        /* Hidden by default */
        position: fixed;
        /* Fixed/sticky position */
        bottom: 20px;
        /* Place the button at the bottom of the page */
        right: 20px;
        /* Place the button 30px from the right */
        z-index: 99;
        /* Make sure it does not overlap */
        border: none;
        /* Remove borders */
        outline: none;
        /* Remove outline */
        background-color: orange;
        /* Set a background color */
        color:#b3e967;
        /* Text color */
        cursor: pointer;
        /* Add a mouse pointer on hover */
        padding: 10px;
        /* Some padding */
        border-radius: 10px;
        /* Rounded corners */
        font-size: 18px;
        /* Increase font size */
        transition: 0.6s;
    }
    
    #myBtn:hover {
        background-color:#5fd307;
        /* Add a dark-grey background on hover */
        transform: translate(0px, -10px);
    }
    
    /* ScrollUp Btn End */
    
    
    /* Dark Mode */
    
    .darkMode {
        font-family: var(--duoFont);
    }